@model CompanyWebManager.Models.ViewModels.ProductsOfTransactionsListViewModel

@{
    ViewData["Title"] = "Szczegoly";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal grossPrice = 0.00M;
    decimal netPrice = 0.00M;
}

<h2>Szczegoly</h2>

<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headers.TransactionDescriptionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductsOfTransactions[0].TransactionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Headers.TransDescDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductsOfTransactions[0].TransDescDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Headers.TransDescDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductsOfTransactions[0].TransDescDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Headers.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Headers.TypeDesc)
        </dd>
    </dl>
</div>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headers.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headers.ProductUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headers.UnitNetPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headers.UnitGrossPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headers.NetPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headers.GrossPrice)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductsOfTransactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitGrossPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossPrice)
            </td>
        </tr>
        grossPrice += @item.GrossPrice;
        netPrice += @item.NetPrice;
    }
    </tbody>
</table>
<div style="float: right; font-size: 25px">
    <span style="display:block">Calosc brutto @(grossPrice)</span> 
    <span style="display:block">Calosc netto @(netPrice)</span> 
</div>


<div>
    <a class="btn btn-success" asp-action="Index">Powrot do list transakcji</a>
</div>
