@using Org.BouncyCastle.Crypto.Tls
@model IEnumerable<CompanyWebManager.Models.Email>

@{
    ViewData["Title"] = "Wiadomosci";
}


<h2>Wiadomosci</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Utworz wiadomosc</a>
</p>
<p>
    <button onclick="show('#loginForm');" class="btn btn-success">Odbierz wiadomosci</button>
</p>

<form  asp-action="ReceiveEmails" class="hidden" id="loginForm">
    <div class="form-group">
        <label for="login">Adres email</label>
        <input type="email" class="form-control" id="login" name="login" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">Pamietaj, ze konto MUSI byc z domeny gmail.com</small>
    </div>
    <div class="form-group">
        <label for="pass">Haslo</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Haslo">
    </div>
    <button type="submit" class="btn btn-success">Odbierz</button>
</form>


@if (Model.Any(x => x.Saved == false))
{
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.ReceivedTime)
            </th>
            <th class="col-md-3"></th>
        </tr>
        </thead>
        <tbody>
        
        @{ int i = 0;}
        @foreach (var item in Model.Where(x => x.Saved == false))
        {

            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.MessageToDisplay)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ReceivedTime)
                </td>
                <td class="col-md-3">
                    <a class="btn btn-success"  asp-action="SaveEmail" asp-route-id="@(i)" >Zapisz do bazy</a>
                    <a class="btn btn-success" asp-action="OpenEmailAsync" asp-route-id="@(i)" asp-route-saved="false">Przeczytaj</a>
                    <a class="btn btn-success" asp-action="Delete" asp-route-id="@(i)" asp-route-saved="false">Usuñ</a>
                </td>
            </tr>
            i++;
        }
        </tbody>
    </table>
}else
{
    <p>Brak nowych wiadomosci</p>
} 

@if (Model.Any(x => x.Saved == true))
{
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Message)
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.ReceivedTime)
            </th>
            <th class="col-md-3"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Where(x => x.Saved == true))
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Sender)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td class="col-md-3">
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ReceivedTime)
                </td>
                <td class="col-md-3 text-center">
                    <a class="btn btn-success" asp-action="OpenEmailAsync" asp-route-id="@item.ID" asp-route-saved="true">Przeczytaj</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Emails" asp-route-id="@item.ID" aspo-route-saved="true">Usun z bazy</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/emails.js"></script>
}
