@model CompanyWebManager.Models.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie produktu</h2>

<h3>Czy na pewno chcesz usunac ten produkt?</h3>
<div class="detailedFont">
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrossPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrossPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Usun" class="btn btn-danger" /> 
            <a class="btn btn-success" asp-action="Index">Powrot do listy produktow</a>
        </div>
    </form>
</div>
